{
    "local": {
        "SECRET_KEY": "the-local-django-secret-key",
        "DB_USER": "Postgres username",
        "DB_PASSWORD": "Postgres user password",
        "REDIS_HOST": "redis host",
        "REDIS_PORT": "redis port"
    },
    "production": {
        "SECRET_KEY": "the-production-django-secret-key",
        "EMAIL_USER": "yandex-email-address",
        "EMAIL_PASS": "yandex-email-password",
        "ADMIN_USER": "admin user",
        "ADMIN_EMAIL": "admin email",
        "DB_USER": "Postgres username",
        "DB_PASSWORD": "Postgres user password",
        "REDIS_HOST": "redis host",
        "REDIS_PORT": "redis port"
    }
}
